.card{
    display: flex;
    padding: 20px;
    width: 470px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}
img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
